<!DOCTYPE html>
<html>
<head>
	<title>Structure</title>
	<meta charset="utf-8">
	<style>
		.flex_box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color:#D8D8D8;
}

.logo {
	width: 300px;
	height: 200px;
}

.my_name {
	display: flex;
	flex-direction: row-reverse;
	width: 200px;
	height: 80px;
	margin-right: 80px; 
	margin-top: 110px;
}

.container > h3 {
	font-size: x-large;
}

.container > ol > li, ul > li, p {
	font-size: x-large;
}

#title {
	color : red;
	font-size: xx-large;
}

.Head {
	 padding-top: 0px;
    background: #3d84e6;
    background-size: cover;
    text-align: center;
    padding: 9px 0;
    height: 140px;
    font-size: xx-large;
}

.Head > h3 {
	color : white;
}

.content {
	background-image: url(https://scontent.fhan5-1.fna.fbcdn.net/v/t1.15752-9/51268286_1969688953337915_9093002410573430784_n.png?_nc_cat=109&_nc_sid=ae9488&_nc_ohc=g0UDCSZ8kwAAX-qHzz8&_nc_oc=AQm4EZNWBOCIZd2Le54DOdocj3aQfz_kS1zvYKOirhUnwbzhwN4iU2dsy1JTeX0Qkgg&_nc_ht=scontent.fhan5-1.fna&oh=69bafef745dde904eee40b62ba53afdf&oe=5FAA217A);
	margin-bottom: 20px;
	display: block;
	margin-bottom: 60px;
}

#intro {
	color : orangered;
	font-style: oblique;
	font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    display: block;
    margin-left: 80px;
    margin-top: 80px;
}

#info {
	font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
    display: block;
    margin-left: 80px;
    margin-right: 100px;
    box-sizing: border-box;
}
	</style>
</head>
<body>
	<div class = "flex_box">
		<img class = "logo" src="https://scontent.fhan5-5.fna.fbcdn.net/v/t1.15752-9/121182196_344692506797690_8537260984518090716_n.png?_nc_cat=101&_nc_sid=ae9488&_nc_ohc=zybgS5KEmIwAX9nxvWr&_nc_oc=AQncIvg8BBfxtddvBH3WhbepCAnZdWC4NP-HXYYeZOVklZni4pM38ndI1mpVoG6OKWY&_nc_ht=scontent.fhan5-5.fna&oh=819734067ed9778e0f689da4a082da65&oe=5FAA5B98">
		<img class = "my_name" src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/121237781_5162889330403218_27500437834568082_n.png?_nc_cat=110&_nc_sid=ae9488&_nc_ohc=L5akhLuSRYYAX_jFf7c&_nc_ht=scontent-hkg4-1.xx&oh=8b1795dff7cf017460b0697904995ff0&oe=5FAA0A4B">
	</div>
	<div class = "Head">
		<h3 style="margin-top: 50px;">Structure for Writing Task 2</h3>
	</div>
	<div class = "container">
		<h2 id = "title">Four ways to support a topic sentence :</h2>
		<ol>
			<li>Using facts</li>
			<li>Using examples</li>
			<li>Using personal examples</li>
			<li>Using explanation</li>
		</ol>
	</div>
	<div class = "container">
		<h3>Intro :</h3>
		<ul>
			<li>People have widely differing views with regard to the question of ...</li>
		</ul>
	</div>
	<div class = "container">
		<h3>Body :</h3>
		<ul>
			<li>On the one hand, there are reasons why it could be argued that </li>
			<p>-> On the other hand, I belived that ...</p>
			<li>Some people of the opinion that ...</li>
			<p>-> Nevertheless, I believe that ... </p>
			<li>I would agree with those who believe that ...</li>
			<p>-> Nevertheless, that is not to say that we can disregard ...</p>
		</ul>
	</div>
	<div class = "container">
		<h3>Opinion :</h3>
		<ul>
			<li>From my perspective, ...</li>
			<li>To my way of thinking, ...</li>
			<li>To my mind, ...</li>
			<li>As far as I'm concerned, ...</li>
			<li>Personally, I am for / against the idea that ...</li>
		</ul>
	</div>
	<div class = "container">
		<h3>Giving examples :</h3>
		<ul>
			<li>... is a clear / good / classic / standard / typical example of this.</li>
			<li>... is a telling example.</li>
			<li>Take ... for example.</li>
			<li>A case in point is ...</li>
		</ul>
	</div>
	<div class = "container">
		<h3>Mentioning a source :</h3>
		<ul>
			<li>Numerous studies show/suggest that ...</li>
			<li>According to a recent study, there is correlation between ...</li>
			<li>There is mounting / overwhelming evidence to suggest that ...</li>
			<li>Empirical studies suggest that ...</li>
		</ul>
	</div>
	<div class = "container">
		<h3>Now :</h3>
		<ul>
			<li>In an increasing world</li>
			<li>In this day and age</li>
			<li>In the present world</li>
			<li>In an modern society</li>
		</ul>
	</div>
	<div class = "container">
		<h3>Higher rate :</h3>
		<ul>
			<li>There is a strong / definite / good possibility that ...</li>
			<li>There is every likelihood / mounting evidence that ...</li>
			<li>the is no denying / little double that</li>
			<li>It is undoubtedly true that</li>
			<li>The fact remains that</li>
			<li>It is a fact that</li>
			<li>... withdout doubt (adv) ...</li>
			<li>For all intents and purposes, ...</li>
			<li>There is no ( denying / disputing ) the fact that ...</li>
			<li>It is an unfortunate fact that ... </li>
		</ul>
	</div>
	<div class = "container">
		<h3>Lower rate :</h3>
		<ul>
			<li>Using can / could / may / might</li>
			<li>They more likely to ...</li>
			<li>... seam / appear / tend to ...</li>
			<li>There seems / appears that ...</li>
			<li>There is some evidence that ...</li>
			<li>In a way</li>
			<li>Up to a point</li>
			<li>To some extent</li>
			<li>... probably / possibly / more or less (adv) ...</li>
			<li>It would seam / appear that ...</li>
			<li>It is said / believed / argued / likely / probable that ...</li>
			<li>... more prone (huớng tiêu cực) to ...</li>
			<li>This may mean that ...</li>
		</ul>
	</div>
	<div class = "container">
		<h3>Predicting :</h3>
		<ul>
			<li>It is predicted / forecast / projected / expected (hi vong) that ...</li>
			<li>The prediction is that ...</li>
			<li>(Something) ... is predicted</li>
		</ul>
	</div>
	<div class = "container">
		<h3>Arugumention :</h3>
		<ul>
			<li>My main reason is ...</li>
			<li>Another justification is ...</li>
			<li>Last but not least, ...</li>
		</ul>
	</div>
	<div class = "container">
		<h3>End :</h3>
		<ul>
			<li>In conclusion, ...</li>
			<li>To sum up, ...</li>
			<li>It is an erroneous belief that ...</li>
			<li>In the light of the aforementioned fact, ...</li>
			<li>While there are some reasons to believe that ..., my own view is that ...</li>
		</ul>
	</div>
	<div class = "content">
		<h2 id = "intro">Giới thiệu về Cô Nhã</h2>
		<p id = "info">
Cô Nhã (thạc sĩ chuyên ngành giảng dạy ngôn ngữ tại đại học Queensland, Australia), giáo viên Đại học Ngoại ngữ đã có kinh nghiệm dạy IELTS hơn 20 năm. Cùng với nhóm giáo viên của Đại học Ngoại ngữ trong những năm qua cô đã giảng dạy cho hàng ngàn học sinh, sinh viên, người đi làm. Rất nhiều trong số này đã đạt được 7.5 đến 8.5 trong kỳ thi IELTS.</p>
	</div>
</body>
</html>
